@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #232323;
  color: #DCDCDC;
  text-align: center;
  align-items: center;

  height: 100%;
  margin: 0;
  
}

#bod{
  height: 100%;
  margin: 0;

  border-style: solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content{
  padding: 20px;
  flex: 1;
}


footer{
  /* position: fixed; 
  bottom: 0;
  width: 100%; */
  padding: 16px;
}
#Guniism{
  text-decoration: none;
  color: #40C173;
  font-weight: 500;
}

#Guniism:hover{
  color: #52eb73;
}

#inputField{
  background-color: #2C2C2C;
}

#output {
  white-space: pre;
  font-family: "Courier New", Courier, monospace; 
  font-size: 10px;
  line-height: 14px;
  letter-spacing: unset;
  transform: unset;
  overflow-y: hidden;
}



/* Slider Container */
.slider-container {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

/* Customize the slider track */
.slider {

  height: 10px;
  background: linear-gradient(to right, #40C173 ${(props) => props.value}%, #ddd ${(props) => props.value}%);
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition: background 0.3s ease;
}

/* Customize slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #40C173;
  border-radius: 50%;
  cursor: pointer;
}

/* For Firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #40C173;
  border-radius: 50%;
  cursor: pointer;
}

/* Change the slider track when hovering over it */
.slider:hover {
  background: #ccc;
}
